.post_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    border: solid 1px #4E5166;
    background-color: #FFD7D7;
    border-radius: 50px 20px 50px 20px ;
    padding: 20px;
}

.form_post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: auto;
    border: solid 1px #4E5166;
    border-radius: 10px;
    background-color: #4E5166;
    border: solid 1px #fe2b01;
}

#post {
    width: 370px;
    height: 60px;
    color: #4E5166;
    outline: none;
    resize: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 1px #fe2b01;
    background-color: #FFD7D7;
}

.post-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-radius: 20px;
    border: solid 1px #fe2b01;
    background-color: #FFD7D7;
}

.post-picture img {
    width: 370px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 20px;
    border: dashed 1px #fe2b01;
    object-fit: cover;
}

.description_post-picture {
    text-align: left;
    width: 350px;
    height: auto;
    overflow-wrap: break-word;
    margin: 0;
    padding: 10px 10px 5px 10px;
    color: #4E5166;
}

.footer_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    margin-top: 10px;
}

.icon_upload-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fa-download {
    color: #4E5166;
}

.fa-download:hover {
    color: #fe2b01;
}

#file[type='file'] {
    display: none;
}

.post-btns {
    display: flex;
    justify-content: flex-end;
    width: 210px;
}

.cancel-post_btn {
    color: #FFD7D7;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #4E5166;
}

.send-post_btn {
    color:  #FFD7D7;
    padding: 10px 20px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #4E5166;
}

/******************** Media Query ********************/

@media screen and (min-width: 300px) and (max-width: 880px) {
    
    
}

@media screen and (max-width: 600px) {

    .post_container {
        width: 350px;
    }

    #post {
        width: 250px;
        height: 150px;
    }
   
    .footer_post {
        width: 250px;
    }

}