.posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: auto;
    margin: 10px 0px;
    border-radius: 40px;
    border: solid 1px #4E5166;
    background-color: #FFD7D7;
}

.posts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: dashed 1px #4E5166;
}

.post_sent {
    width: 400px;
    margin: 0;
}

.post--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.post--img img{
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.form-post_edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
}

.post-display {
    text-align: center;
    width: 380px;
    height: 110px;
    outline: none;
    resize: none;
    border: solid 1px #4E5166;
    background-color: rgba(253, 43, 1, 0.4);
    margin-top: 10px;
}

.footer_post-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
}

.icon_upload-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fa-download {
    color: #4E5166;
}

.fa-download:hover {
    color: #fe2b01;
}

#imagep2[type='file'] {
    display: none;
}

.post-update_btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.cancel-post_btn {
    color: #FFD7D7;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #4E5166;
}

.update-post_btn {
    color:  #FFD7D7;
    padding: 10px 20px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #4E5166;
}

.footer-post_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 0.5px #4E5166;
}

.edit-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.like-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.like-post_btn:active {
    color: #fe2b01;
}

.fa-thumbs-up {
    margin-right: 5px;
}

.dislike-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dislike-post_btn:active {
    color: #fe2b01;
}

.fa-thumbs-down {
    margin-right: 5px;
}

.trash-post_container {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.trash-post_container:hover {
    color: #fe2b01;
}

/******************** Media Query ********************/

@media screen and (min-width: 300px) and (max-width: 880px) {
    
    
}

@media screen and (max-width: 600px) {

    .posts {
        width: 350px;
    }

    .posts_container {
        width: 250px;
        height: auto;
    }

    .post_sent {
        width: 250px;
        margin: 0;
    }

    .form-post_edit {
        width: 250px;
    }

    .post-display {
        width: 250px;
        height: 200px;
    }

    .footer_post-edit {
        width: 250px;
    }

    .footer-post_container {
        width: 250px;
    }

    /*
    .post_container {
        width: 350px;
    }

    #post {
        width: 250px;
        height: 150px;
    }
   
    .footer_post {
        width: 250px;
    }
    */
}

