.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    margin: 10px 0px;
    border-radius: 40px;
    border: solid 1px #4E5166;
    background-color: #FFD7D7;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.5);
}

.posts_container {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: dashed 1px #4E5166;
}

.post_sent {
    width: 400px;
    margin: 0;
    padding-bottom: 5px;
}

.post--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.post--img img{
    width: 350px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.3);
}

.form-post_edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

.post-u {
    text-align: left;
    width: 350px;
    height: 100px;
    color: #4E5166;
    outline: none;
    resize: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(253, 43, 1);
    background-color: rgba(253, 43, 1, 0.4);
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.5);
}

.footer_post-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
}

.icon_upload-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


#imagep2[type='file'] {
    display: none;
}

.fa-download {
    color: #4E5166;
}

.fa-download:hover {
    color: #fe2b01;
}

.post-update_btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.cancel-postcard_btn {
    color: #FFD7D7;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 1px #fe2b01;
    background-color: #4E5166;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.3);
}

.update-postcard_btn {
    color:  #FFD7D7;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 1px #fe2b01;
    background-color: #4E5166;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.3);
}

.footer-post_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 0.5px #4E5166;
}

.edit-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.like-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.like-post_btn:active {
    color: #fe2b01;
}

.fa-thumbs-up {
    margin-right: 5px;
}

.dislike-post_btn {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dislike-post_btn:active {
    color: #fe2b01;
}

.fa-thumbs-down {
    margin-right: 5px;
}

.trash-post_container {
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.trash-post_container:hover {
    color: #fe2b01;
}

/******************** Media Query ********************/

@media screen and (min-width: 400px) and (max-width: 600px) {

    .posts {
        width: 350px;
    }

    .post_sent {
        width: 250px;
    }

    .form-post_edit {
        width: 250px;
    }

    .post-u {
        width: 230px;
        height: 200px;
    }

    .post--img img{
        width: 230px;
    }
    

    .footer_post-edit {
        width: 250px;
    }

    .footer-post_container {
        width: 250px;
    }
}


@media screen and (max-width: 400px) {

    .posts {
        width: 300px;
    }

    .posts_container {
        width: 200px;
        height: auto;
    }

    .post_sent {
        width: 200px;
    }

    .form-post_edit {
        width: 200px;
    }

    .post-u {
        width: 180px;
        height: 200px;
    }

    .post--img img{
        width: 180px;
    }
    
    .footer_post-edit {
        width: 220px;
    }

    .footer-post_container {
        width: 200px;
    }


}