.header_container {
    display: flex;
    border-bottom: solid 1px  #4E5166;
    border-radius: 0px 0px 8px 8px ;
    padding: 20px 0px;
    background-color: #FFD7D7;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.5);
}

.logo_header {
    flex: 10;
}

.logo {
    height: 6vmin;
}

.log-out_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.log-out_btn {
    color:  #4E5166;
    background-color: transparent;
    border: solid 0px;
    cursor: pointer;
}

.log-out_btn:hover {
    color:  #FD2D01;
}
