.home {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
  
.home_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}
  
.home_post {
    display: flex;
    justify-content: center;
    align-items: center;
}