/***** Profile Header *****/

.profile_container {
    display: flex;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.profile_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    height: 140px;
}

.profile_title h1 {
    color: #4E5166;
    font-weight: 400;
    padding: 15px;
}
  
/***** Btn-delete User *****/

.delete-btn_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    font-size: 20px;
    color: #4E5166;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.delete-btn:hover {
    color: #FD2D01;
}
  
/***** Info User *****/

.profile_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    height: auto;
}

.profile-user_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 500px;
    height: auto;
    border: solid 1px #4E5166;
    background-color: #FFD7D7;
    border-radius: 50px 20px 50px 20px ;
    padding: 20px;
    margin-bottom: 50px;
}

.form-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

.label_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    color: #4E5166;
    font-size: 16px;
    font-weight: 600;
}

.name-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

.firstName-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

.pseudo-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

.email-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

.city-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

.password-field_profile {
    width: 250px;
    text-align: center;
    color: #4E5166;
    font-size: 16px;
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 0.5px #4E5166;
}

/***** Btn-edit *****/

.edit-btn {
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50px;
    background-color: transparent;
    border: dashed 1px #FD2D01;
    cursor: pointer;
}

.fa-user-edit {
    color: #4E5166;
}

.fa-user-edit:hover {
    color: #FD2D01;
}

/***** Btn-Valid Update *****/

.submit-btn {
    color:  #4E5166;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    border: solid 1px #4E5166;
    border-radius: 20px 10px 20px 10px;
    background-color: rgba(253, 43, 1, 0.5);
    cursor: pointer;
}

/******************** Media Query ********************/

@media screen and (min-width: 100px) and (max-width: 880px) {
    

    .profile_container {
        display: flex;
        flex-direction: column;
    }

    .profile_title {
        flex: 3;
    }
    
    .delete-btn_container {
        flex: 1;
        height: 100px;
        border-left: solid 0.5px #4E5166;
    }

    .profile-user_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .edit-btn_container {
        margin-top: 30px;
    }

}

@media screen and (max-width: 500px) {

    .profile_title {
        flex: 4;
    }
}