.section_follow ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 15px 0px;
    height: 140px;
}

.section_follow li {
    display: flex;
    align-items: flex-start;
    padding: 0px 5px;
    width: 80px;
    height: 80px;
    border-left: solid 0.5px #4E5166;
}

.section_follow a {
    text-decoration: none;
    color: #4E5166;
    font-weight: 300;
    padding: 0px;
    border-bottom: solid 0.5px #4E5166;
}
