.section_like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    border-left: solid 0.5px  #4E5166;
}

.section_like span {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: 300;
    color: #4E5166;
    cursor: pointer;
}

.section_like img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.section_like span {
    padding: 5px 10px;
    font-weight: 300;
    color: #4E5166;
    cursor: pointer;
}

.enable-like {
    background-color: rgba(253, 43, 1, 0.5);
    border-radius: 15px 5px 15px 15px;
    border: solid 0.5px #FD2D01;
}

.disable-like {
    background-color: rgba(255, 215, 215, 0.5);
    border-radius: 15px 5px 15px 15px;
    border: solid 0.5px #FFD7D7;
}