input {
    font-family: 'Lato';
}

.sign_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.sign {
    display: grid;
    grid-template-columns: auto auto;
    width: 650px;
    border-radius: 15px 30px 15px 30px;
    border: solid 1px #4E5166;
    background-color: #FFD7D7;
    box-shadow: 10px 5px 5px hsla(232, 13%, 35%, 0.5);
}

.form_container {
    display: flex;
    margin: 0 auto;
}

.form-sign {
    width: 300px;
    padding: 20px 0px;
}

label {
    display: block;
    color: #4E5166;
    margin-bottom: 8px;
}

.email-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.password_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.password-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.pseudo-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.name-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.firstName-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.city-field {
    width: 200px;
    height: 18px;
    padding: 12px;
    border: solid 1px #4E5166;
    border-radius: 10px 20px 10px 20px;
    margin-bottom: 10px;
    color: #4E5166;
    font-size: 16px;
    background-color: transparent;
}

.submit-btn {
    color:  #4E5166;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
    border: solid 1px #4E5166;
    border-radius: 20px 10px 20px 10px;
    background-color: rgba(253, 43, 1, 0.5);
    cursor: pointer;
}

/* Show password */

.show-password-btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    margin-bottom: 10px;
}

.show-password-btn {
    color: #4E5166;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
}

/* Upload profilepicture sign-up */

.profile-picture_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-picture_title {
    width: 160px;
    border-radius: 20px 10px 0px 0px;
    border: solid 1px #4E5166;
    background-color: #4E5166;
}

.profile-picture_title h3 {
    color: #FFD7D7;
    font-size: 12px;
}

.upload-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: solid 1px #4E5166;
    border-radius: 0px 10px 0px 0px;
    margin: 0;
    background-color: transparent;
}

.upload-picture img {
    width: 200px;
    height: 200px;
    border-radius: 0px 8px 0px 0px;
    object-fit: cover;
}

#profilePicture[type = "file"]{
    display: none;
}

.upload_container {
    display: flex;
    justify-content: flex-start;
    width: 202px;
    height: 51px;
}

.upload-picture_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:  #4E5166;
    width: 65px;
    height: 50px;
    border-left: solid 1px #4E5166;
    border-bottom: solid 1px #4E5166;
    border-radius: 0px 0px 0px 15px;
    cursor: pointer;
}

.upload_container p {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #FFD7D7;
    font-size: 15px;
    font-weight: 500;
    height: 51px;
    padding: 0px 5px;
    margin: 0;
    background-color: #4E5166;
}

/* Errors */

.message_error {
    color: rgb(253, 43, 1);;
}

@media screen and (max-width: 500px) {

    .sign {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

