.App {
  text-align: center;
}

/***************************/

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
}

/***************************/

/* Home */

.home {
  display: flex;
}

.home_title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile */

.profile {
  display: flex;
  justify-content: space-between;
}

.profile_title {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

/***************************/


/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/


