.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.error_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4E5166;
    background-color: #FFD7D7;
    width: 500px;
    height: 300px;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    border-radius: 80px 20px 80px 20px;
    border-left: solid 2mm #4E5166;
    border-top: solid 2mm #4E5166;
}